*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navb{
    background-color: #ffefd5; padding-left: 15px;padding-right: 15px;
}
#dnav1{
    display:flex; justify-content: space-between; align-items:center;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: rgb(0, 0, 0); font-weight: bold;font-size: 20px;margin-right: 25px;
}
#logopic{
    height: auto;
    width: auto;
}
li a:hover{color:coral}
body{background-color: #ffefd5;}

header{
    text-align: center;
}

 #footer{ 
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
 }
#footer p{
    color: whitesmoke;
    margin: 20px auto;
}

button{padding: 15px 30px; background-color: coral; border-radius: 5px; color: whitesmoke; border-color:transparent;top: 50%;width: 100%;}
#menupage{
    background-color: #ffefd5;
    padding-left: 1rem;
    padding-right: 1rem;    
    padding-top: 3rem; 
    padding-bottom: 3rem;

}
#menu_container{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;

}
#menu_container #menu_cards{
    border: 1px solid white;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}
#menu_cards{
    display: block;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
#menu_cards img{
    width: 436px;
    height: 280px;
}
#menu_cards p{
    font-size: 15px;
    margin-bottom: .5rem;
    color: gray;
    text-align: center;
}
#menu_cards #price{
    font-size: 22px;
    color:black(255, 68, 0);
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding-top: .50rem;
}
#details h5{
    padding-right: 1.5rem;
}
#item_name{
    font-size: 25px;
}
#above_heading{
    color: coral;
    font-size: 30px;
}
#main_heading{
    color:#484872;
    font-size: 55px;
}
#menu_cards img:hover{
transform: scale(1.1);
}
#line2{
    width: 750px;
    background-color: #ff7f50;
    height: 4px;
    margin: 10px auto;
    border-radius: 5px;
}
#Clear_form{
    background-color: red;
    font-size: 20px;
}
#Submit_form{
    background-color: green;
    font-size: 20px;
}